<h1>Productivity app</h1>

<div class="info">
    
    <span>
        <h2>Version: </h2>
        <p>0.0.2</p>
    </span>

    <span>
        <mat-icon>person</mat-icon>
        <h2>Creator: </h2>
        <p>Marcus Pereira</p>
    </span>
    
    
    <!-- <button mat-button> -->
    <!-- <span> -->
    </div>
    <div class="contact">
    
    <mat-icon>email</mat-icon>
    <a href="mailto:mav.pereira@outlook.com">
        Email
    </a>
    <!-- </span> -->

    <!-- <span> -->
    <mat-icon >hub</mat-icon>
    <a href="https://github.com/mv-per">
        GitHub
    </a>
    <!-- </span> -->
    <!-- </button>  -->
    <!-- <a routerLink="/"> Go Back </a>  -->
</div>