div {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
}

.mat-toolbar {
  border-radius: 5px;
}

.task-text {
  padding-left: 2%;
  align-items: center;
}

.task-details {
  display: false;
  align-items: center;
  padding: 3%;
  background-color: lightgray;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.delButton {
  margin-left: auto;
}

/*



.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
}




*/
