footer {
  margin-top: 30px;
  text-align: center;
  color: white;
  margin-left: 20%;
  margin-right: 20%;
}

footer span {
  margin-top: 10px;
  display: flex;

  /* justify-content: center; */
  justify-content: space-around;
  align-items: center;
}

footer fa-icon {
  font-size: 16px;
  color: green;
}

footer span a {
  color: white;
}
