
<form *ngIf="showAddTask" (ngSubmit)="onSubmit()">
    <h2>Add New Task</h2>
    <div class="form-control" >
        <label for="text"> Description </label>
        <input name="text" [(ngModel)]="text" type="text" id="text" placeholder="Description" />
    </div>

    <!-- <mat-form-field appearance="fill">
        <mat-label>Select Due Date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> -->

    <div class="form-control">
        <label for="text"> Date & Time </label>
        <input name="day" [(ngModel)]="day" type="text" id="day" placeholder="Add the Due Date" />
    </div>
    <div class="form-control form-control-check">
        <label for="reminder"> Set Reminder? </label>
        <input name="reminder" [(ngModel)]="reminder" type="checkbox" id="reminder" />
    </div>

    <input type="submit" value="Save Task" class="btn btn-block" />
</form>


